body {
  text-align: center;
  background: lightblue url("../img/dino.png")no-repeat fixed left;
  font-family: fantasy;
  font-weight: bold;
  font-size: 150%;

}
h1{
  font-size: 70pt;
  margin-top: 47px;
}

h2{
  font-size: 35pt;
  margin-top: 47px;
}

img {
  width: 50px;
  height: auto;
}
img.center {
    display: block;
    margin: 0 auto;
}

.btn{
padding: 2px;
margin-top: 2px
}
.dinogatchi{
  display: none;
}

.progress {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#youLose {
  display: none;
  margin-top: 47px;
}
label{
  font-size: 15pt;
}
input{
  padding-top: 5px
}
