body {
  text-align: center;
  background-color: lightblue;
}

.col-xs-2 {
  background-color: lightgreen;
}

img {
  width: 50px;
  height: auto;
}
img.center {
    display: block;
    margin: 0 auto;
}

.red {
  color: red;
}

.btn{
padding: 2px;
margin-top: 2px
}
.dinogatchi{
  display: none;
}

.progress {
  width: 50%;
  display: block;
  margin: 0 auto;
}
